@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using SafeExchange.Client.Web.Components.Helpers

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <button class="nav-link btn btn-link" id="userInfoDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="signed-in.svg" alt="User Info" width="32">
        </button>
        <div class="dropdown-menu" aria-labelledby="userInfoDropdown">
            <form class="px-4 py-2">
                <div class="form-group">
                    <p>@context.User.Identity.Name</p>
                    <small>@TokenHandler.GetName(context.User)</small>
                </div>
                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#settingsDialog"><i class="oi oi-cog"></i><span>&nbsp; Settings</span></button>
            </form>
            <div class="dropdown-divider"></div>
            <button class="nav-link btn btn-link" @onclick="BeginSignOut">Sign out</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link" href="authentication/login">
            <img src="sign-in.svg" alt="Sign In" width="32">
        </a>
    </NotAuthorized>
</AuthorizeView>

@code{

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
