@using SafeExchange.Client.Web.Components

@inject StateContainer StateContainerInstance
@implements IDisposable

<NavLinkAccessibility class="client-nav-link" href="" ActiveAttributes="ActiveAttributes" Match="NavLinkMatch.All">
    <i class="bi bi-house-door"></i><span>Home</span>
</NavLinkAccessibility>
<NavLinkAccessibility class="client-nav-link" href="createdata" ActiveAttributes="ActiveAttributes">
    <i class="bi bi-shield-plus"></i><span>Add Secret</span>
</NavLinkAccessibility>
<NavLinkAccessibility class="client-nav-link" href="listdata" ActiveAttributes="ActiveAttributes">
    <i class="bi bi-journal-bookmark"></i><span>My Secrets</span>
</NavLinkAccessibility>

<AuthorizeView>
    <Authorized>
        <hr class="client-nav-sep" />
        <NavLinkAccessibility class="client-nav-link" href="accessrequests" ActiveAttributes="ActiveAttributes">
            <i class="bi bi-person-lines-fill"></i>
            <span>My Requests</span>
            @if (this.StateContainerInstance.IsFetchingAccessRequests)
            {
                <span class="spinner-border spinner-border-sm ms-2" role="status"></span>
            }
            else
            {
                @if ((this.StateContainerInstance.IncomingAccessRequests?.Count ?? 0) > 0)
                {
                    <span class="badge rounded-pill bg-accent ms-2">@(this.StateContainerInstance.IncomingAccessRequests.Count)</span>
                }
                @if ((this.StateContainerInstance.OutgoingAccessRequests?.Count ?? 0) > 0)
                {
                    <span class="badge rounded-pill bg-light text-dark ms-2">@(this.StateContainerInstance.OutgoingAccessRequests.Count)</span>
                }
            }
        </NavLinkAccessibility>
        <NavLinkAccessibility class="client-nav-link" href="addrequest" ActiveAttributes="ActiveAttributes">
            <i class="bi bi-person-raised-hand"></i><span>Add Request</span>
        </NavLinkAccessibility>
    </Authorized>
</AuthorizeView>

@code {
    private Dictionary<string, object> ActiveAttributes { get; } = new() { { "aria-current", "page" } };

    protected override void OnInitialized()
    {
        this.StateContainerInstance.OnChange += this.StateHasChanged;
    }

    public void Dispose()
    {
        this.StateContainerInstance.OnChange -= this.StateHasChanged;
    }
}
