<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Shared.AdminLayout)">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(Shared.AdminLayout)">
                <div class="alert alert-warning">Page not found.</div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
