@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('saex-icons/saex-icons.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn-outline-primary-noborder {
    --bs-btn-color: #0d6efd;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #0d6efd;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: #0d6efd;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0d6efd;
    --bs-btn-active-border-color: transparent;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0d6efd;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: transparent;
    --bs-gradient: none;
}

.btn-text-align-left {
    text-align: left !important;
}

.w-80 {
    width: 80% !important;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.text-removed {
    background-color: var(--bs-danger-bg-subtle) !important;
    text-decoration-line: line-through !important;
}

.collapsible-content > .btn {
    padding: .25rem .5rem;
    font-weight: 600;
    background-color: transparent;
    border: 0
}

    .collapsible-content > .btn > i {
        transition: transform 0.35s ease;
    }

@media (prefers-reduced-motion: reduce) {
    .collapsible-content > .btn > i {
        transition: none
    }
}

.collapsible-content > .btn[aria-expanded="true"] > i {
    transform: rotate(90deg)
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

.narrow-floating-group.input-group-text {
    padding-left: 6px;
    padding-right: 6px;
}

