@inject ClipboardService ClipboardServiceInstance
@inject TooltipsInitializer TooltipsInitializerInstance

<div class="to-hover">
    @ChildContent
    <img class="to-show-on-hover" src="copy.svg" alt="Copy to Clipboard" width="20" data-toggle="tooltip" data-placement="top" title="Copy to clipboard" @onclick="@(async () => await CopyDataToClipboard())">
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Data { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await TooltipsInitializerInstance.InitializeTooltipsAsync("Copy to clipboard", "Copied");
        }
    }

    private async Task CopyDataToClipboard()
    {
        await ClipboardServiceInstance.WriteTextAsync(Data);
    }
}
