@inject ClipboardService ClipboardServiceInstance
@inject TooltipsInitializer TooltipsInitializerInstance

<div>
    @ChildContent
    <button type="button" class="btn d-inline-flex btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy to Clipboard" @onclick="@(async () => await CopyDataToClipboard())">
        <span class="saex-copy" title="Copy to clipboard"></span>
    </button>
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Data { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await TooltipsInitializerInstance.InitializeTooltipsAsync("Copy to clipboard", "Copied");
        }
    }

    private async Task CopyDataToClipboard()
    {
        await ClipboardServiceInstance.WriteTextAsync(Data);
    }
}
